body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

#section1 {
    background-color: #231651;
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 1% 3%;
    
}

#section1rect {
    color: #d6fff6;
    font-size: 150%;
}

#webcam-container {
    background-color: #231651;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1% 5% 0% 5%;
}

#label-container {
    background-color: #231651;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1% 5% 1% 5%;
}

#percentages {
    background-color: #4DCCBD;
    color: #d6fff6;
    font-size: 150%;
    text-align: left;
    padding: 1% 7%
}

#treatment-label{
    text-align: center;
    color: black;
    padding: 1.2% 1% 0% 1%;
    font-size: 150%;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    margin-right: 70px;
    margin-left: 70px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    width: 90%;
    margin-right: 70px;
    margin-left: 70px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  .panel.active{
    display:block;
  }
  
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #000;
    float: right;
    margin-left: 5px;
  }
  
  .accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }